<html>
  <head>
    <title>After Not in history</title>
  </head>
  <body>
    Essaie de revenir en arrière, tu ne verras pas la page "Not in history".
    <a href="{{host}}/end">End</a>
  </body>
</html>