<html lang="en">
  <head>
    <title>After Not in history</title>
  </head>
  <body id="container">
    Essaie de revenir en arrière, tu ne verras pas la page "Not in history".
    <a href="http://localhost:8888/end">End</a>
  </body>
</html>