<html>
  <head>
    <title>Form get</title>
  </head>
  <body>
    Essai form avec get
    <form action="{{host}}/handle-form-get" method="get">
      <input type="text" name="text" placeholder="Entrer un text" />
    </form>
  </body>
</html>
