<html lang="en">
  <head>
    <title>Form get</title>
  </head>
  <body id="container">
    Essai form avec get
    <form action="http://localhost:8888/handle-form-get" method="get">
      <input type="text" name="text" placeholder="Entrer un text" />
    </form>
  </body>
</html>
