<html>
  <head>
    <title>Liste offre</title>
  </head>
  <body>
    J'ai le meme href, mais j'utilise user_entry pour differencier les pages
    <a href="http://localhost:8888/handle-offre">offre 1</a>
    <a href="http://localhost:8888/handle-offre">offre 2</a>
  </body>
</html>