<html>
  <head>
    <title>Paiement</title>
  </head>
  <body>
    Entrer votre code secret
    <form action="{{host}}/validate-code" method="post">
      <input type="text" name="code" placeholder="Entrer code secret" />
    </form>
  </body>
</html>
